<div class="container">
  <div class="box">
    <h1><%= @cocktail.name %></h1>
    <% if @cocktail.photo.attached? %>
      <%= cl_image_tag @cocktail.photo.key, crop: :fill %>
    <% else %>
      <%= image_tag "favicon.ico" %>
    <% end %>
    <br>
    <br>
    <h3> <%= link_to "Add Ingredients", new_cocktail_dose_path(@cocktail) %> </h3>
    </br>
    </br>
    <h3>List of ingredients:</h3>
    <br>
    <ul>
      <% @cocktail.doses.each do |dose| %>
      <% dose.kind = dose.kind + "s" if dose.quantity > 1 %>
        <li> <strong> <%= dose.quantity %> <%= dose.kind %> of <%= Ingredient.find(dose.ingredient_id).name %> </strong>
        <% if dose.comment != "" %>
          <br>
          Comment: <%= dose.comment %>
        <% end %>
        <br>
        <%= link_to "Delete ingredient", dose, method: :delete, data: { confirm: 'Are you sure?' }  %>
        </li>
      <br>
      <% end %>
    </ul>

    <%= link_to "Back to Cocktails", cocktails_path %>

  </div>
</div>
