<h1>Choose your ingredients</h1>

<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <div class="form-inputs">
    <%= f.association :ingredient %>
  </div>

  <div class="form-inputs">
    <%= f.input :kind, collection: @kind %>
  </div>

  <div class="form-inputs">
    <%= f.input :quantity, collection: 1..10 %>
  </div>

  <div class="form-inputs">
    <%= f.input :comment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
